{% extends 'core/base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<section class="container p-3 my-3 border">
      <div class="w3-row-padding w3-margin-top">
          <div class="w3-third">
              <div class="w3-card-4">
                    <img src="{% static 'assets/img/mypix.jpg'%}"  style="width:55%">
                    
              </div>
              <section>
                    <div  type="text">
                          <h5>AULE GABRIEL  </H5>
                          <P>software developer</P>
                          <h5>Address: Nigeria,Benue state,Makurdi </5h>
                          <h5>software career: Backend developer</5h>
                          <h5> programming language: python </5h>
                         <h5>Frame work: django back-end framework,vue js, JavaScript,bootstrap,bulma,css,Html</5h> 
                   </div>  
            </section>    
        </div>
      </div>
</section>
   
{% endblock %}
   
 
             
             
   

    
 
