{% extends 'core/base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<section id="team" class="row g-0 py-0 text-center" >
      <div class="w3-row-padding w3-margin-top">
          <div class="w3-third">
              <div class="w3-card-4">
                  <img src="{% static 'assets/img/mypix.jpg'%}"  style="width:55%">
                  <div class="social-icons">
                        <a href="https://twitter.com/kator07?s=03"><i class="bx bxl-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/aule-gabriel-63a4b421b/"><i class="bx bxl-linkedin"></i></a>
                        <a href="https://github.com/codewithaule "><i class="bx bxl-github"></i></a>
                  </div>    
              </div>
              <div class="p-4">
                  <h5 class="title-sm mt-3 mb-0 ">Aule Gabriel</h5>
                  <small >Full Stack developer</small>
                  <div class="hline"></div>
                  <p > Address: Nigeria,Benue state,Makurdi </p>
                  <p >software career: Backend developer</p>
                  <p > programming language: python , Frame work: django back-end framework,vue js, JavaScript,bootstrap,bulma,css,Html</p> 
               </div>
        </div>
      </div>
</section>
   
{% endblock %}
   
 
             
             
   

    
 
